* {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans TC", sans-serif;
}

p,
a,
input,
label,
textarea,
span,
ul,
li {
  font-family: "Noto Sans TC", sans-serif;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-size: cover;
}

.container {
  width: 100%;
  padding: 0px 0px;
  background-size: 100% 100%;
  margin-left: 20px;
}

img {
  width: 100%;
}

h2 {
  font-weight: bold;
}

p {
  color: #707070;
}

header li {
  margin: 0 30px;
}

section:not(#intro) {
  margin-top: 30px;
}

/* .bgfifth {
  background-image: url("/pics/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
} */

.navbar {
  position: fixed;
  z-index: 5555;
  padding: 0px 0px;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  left: 0px;
}

.zi_box_1 {
  border: 6px double #02080e; /* 框線顏色 */
  margin: 0px 0px;
  margin-left: 35%;
  width: 500px;
}

.bottomPart {
  margin-top: 80px;
  margin-left: 20%;
}

#intro .jumbotron {
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}

#intro .jumbotron .row {
  margin-top: 10px;
}

#intro h2 {
  line-height: 1.5;
  color: rgb(255, 255, 255, 0.932);
}

#intro h1 {
  /* margin-top: 150px; */
  color: rgba(255, 255, 255, 0.932);
}

#intro h4 {
  color: rgba(255, 255, 255, 0.596);
  font-size: 18px;
}

/* #intro .container {
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

#intro img {
  width: 130px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 13px;
  margin-top: 50px;
}

.headerDivider {
  border-left: 1px solid #8ea2b4;
  height: 30px;
}

#second {
  padding: 50px 0px;
  background: #f3eddd;
}

#second img {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
}

#third {
  background-image: linear-gradient(to top left, #fcc930ee, #f2f2f7);
  /* background: #fcc930ee; */
  padding: 50px 0px;
}

#third .progress {
  margin-bottom: 40px;
  margin-top: 7px;
}

#fourth {
  padding: 50px 0px;
  background: #ffb2bc;
}

#fourth .timeline {
  width: 1000px;
  /* margin: 50px auto; */
  position: relative;
}

#fourth .timeline:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: #1e1f22;
  margin-left: 50px;
}

#fourth .timeline ul li {
  list-style: none;
  width: 70%;
  position: relative;
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

#fourth .timeline h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}

#fourth .timeline-content .date {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

#fourth .content {
  padding-bottom: 20px;
  color: aliceblue;
}

#fourth ul li {
  left: 100px;
}

#fourth ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 0px;
  left: -60px;
  width: 20px;
  height: 20px;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

#fourth ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 0px;
  left: -60px;
  width: 20px;
  height: 20px;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

#fifth {
  padding: 50px 0px;
  background: rgb(245, 245, 245);
}

#fifth .lower h4 {
  font-size: 24px;
  margin-top: 12;
  text-align: center;
}

#fifth .lower i {
  margin-right: 6px;
}

#fifth .outer {
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
}

#fifth .lower {
  padding: 8px 20px 20px 20px;
  text-align: center;
}

#footer {
  border-top: solid 1px #c9c9c9;
  padding: 80px 0px;
  background: rgba(0, 0, 0, 0.9);
}

#footer h4 {
  margin-bottom: 26px;
  color: white;
}
#footer ul {
  list-style: none;
  padding: 20px;
  float: left;
  margin-right: 20px;
}

#footer ul li {
  margin-bottom: 20px;
}

#footer ul li a {
  color: #707070;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-size: cover;
  }

  .row {
    padding-right: 0px;
    width: 100%;
  }

  .navbar {
    position: fixed;
    z-index: 5555;
    padding: 0px 0px;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    left: 0px;
    scale: 50%;
  }

  .zi_box_1 {
    border: 6px double #02080e; /* 框線顏色 */
    margin: 0px 0px;
    margin-left: 15%;
    width: 400px;
  }

  .bottomPart {
    margin-top: 60px;
    margin-left: 10%;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  h4 {
    font-size: 18px;
  }

  #second h4 {
    font-weight: bold;
  }

  .progress {
    width: 80%;
  }

  .headerDivider {
    display: none;
  }

  .nav-item {
    height: 50px;
    border-bottom: 1px solid gray;
  }

  #second img {
    margin-bottom: 50px;
  }

  #fourth .timeline ul li {
    width: 25%;
  }

  #fifth .outer {
    margin-bottom: 54px;
  }

  #footer h4 {
    margin-bottom: 26px;
    margin-top: 35px;
  }
}
